data/*

.ipynb_checkpoints/
__pycache__/
.vscode/
*.code-workspace
.idea
__init__.py
tethis/pdf/*
!tethis/images/*


!data/str_data
data/str_data/*
!data/str_data/ref_str_data.csv
!data/str_data/ref_str_data_small.csv
!data/str_data/get*
!data/str_data/str*
!data/str_data/STR*

tethis/*.pdf
tethis/*.gz
