data/*

.ipynb_checkpoints/
__pycache__/
.vscode/
*.code-workspace
.idea
__init__.py
tethis/pdf/*

!data/str_data
data/str_data/*
!data/str_data/get*
!data/str_data/str*
!data/str_data/STR*

tethis/*.pdf
tethis/*.gz
